<div id="rate_form">
    <%= form_for rate, url: @url, remote: true do |t| %>
        <%= t.number_field :value, min: 1, max: 5, class:"image-form-for"%>
        <%= t.hidden_field :user_id, value: current_user.id %>
        <%= t.hidden_field :movie_id, value: @movie.id  %>
    <% end %>
</div>